@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

header {
  z-index: 10001 !important;
}

.btn-primary {
  @apply sm:px-8 sm:py-4 bg-primary text-xl text-white rounded hover:bg-body hover:text-white transition-all duration-300;
}
